src/core/api/nodopagamenti_api/pspForNode/v1/pspForNode.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://pagopa-api.pagopa.gov.it/psp/pspForNode"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:pfn="http://pagopa-api.pagopa.gov.it/psp/pspForNode.xsd"
  xmlns:common="http://pagopa-api.pagopa.gov.it/xsd/common-types/v1.0.0/"
  targetNamespace="http://pagopa-api.pagopa.gov.it/psp/pspForNode">
  <wsdl:types>

    <!-- psp for node xsd -->
    <xsd:schema version="1.0.0" xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://pagopa-api.pagopa.gov.it/psp/pspForNode.xsd"
            xmlns:tns="http://pagopa-api.pagopa.gov.it/psp/pspForNode.xsd"
            xmlns:common="http://pagopa-api.pagopa.gov.it/xsd/common-types/v1.0.0/">

      <!--Simple type -->
      <xsd:simpleType name="stText6">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1"/>
          <xsd:maxLength value="6"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stIdTransfer">
        <xsd:restriction base="xsd:int">
          <xsd:enumeration value="1"/>
          <xsd:enumeration value="2"/>
          <xsd:enumeration value="3"/>
          <xsd:enumeration value="4"/>
          <xsd:enumeration value="5"/>
        </xsd:restriction>
      </xsd:simpleType>



      <xsd:simpleType name="stIBAN">
        <xsd:restriction base="xsd:string">
          <xsd:pattern
            value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xsd:restriction>
      </xsd:simpleType>

      <!--Complex type -->
      <xsd:complexType name="ctPaymentList">
        <xsd:sequence>
          <xsd:element name="payment" type="tns:ctPayment" maxOccurs="5"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ctPaymentListV2">
        <xsd:sequence>
          <xsd:element name="payment" type="tns:ctPaymentV2" maxOccurs="5"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctPayment">
        <xsd:sequence>
          <xsd:element name="paymentToken" type="common:stPaymentToken"/>
          <xsd:element name="paymentDescription" type="common:stText140"/>
          <xsd:element name="fiscalCodePA" type="common:stFiscalCodePA"/>
          <xsd:element name="companyName" type="common:stText140"/>
          <xsd:element name="officeName" type="common:stText140" minOccurs="0"/>
          <xsd:element name="creditorReferenceId" type="common:stText35"/>
          <xsd:element name="debtAmount" type="common:stAmount"/>
          <xsd:element name="transferList" type="tns:ctTransferListPSP"/>
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctPaymentV2">
        <xsd:sequence>
          <xsd:element name="paymentToken" type="common:stPaymentToken"/>
          <xsd:element name="paymentDescription" type="common:stText140"/>
          <xsd:element name="fiscalCodePA" type="common:stFiscalCodePA"/>
          <xsd:element name="companyName" type="common:stText140"/>
          <xsd:element name="officeName" type="common:stText140" minOccurs="0"/>
          <xsd:element name="creditorReferenceId" type="common:stText35"/>
          <xsd:element name="debtAmount" type="common:stAmount"/>
          <xsd:element name="transferList" type="tns:ctTransferListPSPV2"/>
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctTransferPSP">
        <xsd:sequence>
          <xsd:element name="idTransfer" type="tns:stIdTransfer"/>
          <xsd:element name="transferAmount" type="common:stAmount"/>
          <xsd:element name="fiscalCodePA" type="common:stFiscalCodePA"/>
          <xsd:element name="IBAN" type="tns:stIBAN"/>
          <xsd:element name="remittanceInformation" type="common:stText140"/>
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctTransferPSPV2">
        <xsd:sequence>
          <xsd:element name="idTransfer" type="tns:stIdTransfer"/>
          <xsd:element name="transferAmount" type="common:stAmount"/>
          <xsd:element name="fiscalCodePA" type="common:stFiscalCodePA"/>
          <xsd:choice>
            <xsd:element name="IBAN" type="tns:stIBAN"/>
            <xsd:element name="richiestaMarcaDaBollo" type="common:ctRichiestaMarcaDaBollo"/>
          </xsd:choice>
          <xsd:element name="remittanceInformation" type="common:stText140"/>
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctTransferListPSP">
        <xsd:sequence>
          <xsd:element name="transfer" type="tns:ctTransferPSP" maxOccurs="5"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ctTransferListPSPV2">
        <xsd:sequence>
          <xsd:element name="transfer" type="tns:ctTransferPSPV2" maxOccurs="5"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctCreditCardPayment">
        <xsd:sequence>
          <xsd:element name="rrn" type="xsd:string"/>
          <xsd:element name="outcomePaymentGateway" type="xsd:string"/>
          <xsd:element name="totalAmount" type="common:stAmount"/>
          <xsd:element name="fee" type="common:stAmount"/>
          <xsd:element name="timestampOperation" type="common:stISODateTime"/>
          <xsd:element name="authorizationCode" type="tns:stText6"/>
          <xsd:element name="paymentGateway" type="common:stText35" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctPaypalPayment">
        <xsd:sequence>
          <xsd:element name="transactionId" type="xsd:string"/>
          <xsd:element name="pspTransactionId" type="xsd:string"/>
          <xsd:element name="totalAmount" type="common:stAmount"/>
          <xsd:element name="fee" type="common:stAmount"/>
          <xsd:element name="timestampOperation" type="common:stISODateTime"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctBancomatpayPayment">
        <xsd:sequence>
          <xsd:element name="transactionId" type="xsd:string"/>
          <xsd:element name="outcomePaymentGateway"
                       type="xsd:string"/>
          <xsd:element name="totalAmount" type="common:stAmount"/>
          <xsd:element name="fee" type="common:stAmount"/>
          <xsd:element name="timestampOperation" type="common:stISODateTime"/>
          <xsd:element name="authorizationCode" type="tns:stText6"/>
          <xsd:element name="paymentGateway" type="common:stText35"
                       minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctAdditionalPaymentInformations">
        <xsd:sequence>
          <xsd:element name="metadata" type="common:ctMetadata"
                       minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <!--Element req/res -->
      <xsd:complexType name="pspNotifyPaymentReq">
        <xsd:sequence>
          <xsd:element name="idPSP" type="common:stText35"/>
          <xsd:element name="idBrokerPSP" type="common:stText35"/>
          <xsd:element name="idChannel" type="common:stText35"/>
          <xsd:element name="paymentToken" type="common:stPaymentToken"/>
          <xsd:element name="paymentDescription" type="common:stText140"/>
          <xsd:element name="fiscalCodePA" type="common:stFiscalCodePA"/>
          <xsd:element name="companyName" type="common:stText140"/>
          <xsd:element name="officeName" type="common:stText140" minOccurs="0"/>
          <xsd:element name="creditorReferenceId" type="common:stText35"/>
          <xsd:element name="debtAmount" type="common:stAmount"/>
          <xsd:element name="transferList" type="tns:ctTransferListPSP"/>
          <xsd:choice>
            <xsd:element name="creditCardPayment" type="tns:ctCreditCardPayment"/>
            <xsd:element name="paypalPayment" type="tns:ctPaypalPayment"/>
            <xsd:element name="bancomatpayPayment" type="tns:ctBancomatpayPayment"/>
            <xsd:element name="additionalPaymentInformations" type="tns:ctAdditionalPaymentInformations"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="pspNotifyPaymentRes">
        <xsd:complexContent>
          <xsd:extension base="common:ctResponse"/>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="pspNotifyPaymentV2">
        <xsd:sequence>
          <xsd:element name="idPSP" type="common:stText35"/>
          <xsd:element name="idBrokerPSP" type="common:stText35"/>
          <xsd:element name="idChannel" type="common:stText35"/>
          <xsd:element name="transactionId" type="common:stText35"/>
          <xsd:element name="totalAmount" type="common:stAmount"/>
          <xsd:element name="fee" type="common:stAmount"/>
          <xsd:element name="timestampOperation" type="common:stISODateTime"/>
          <xsd:element name="paymentList" type="tns:ctPaymentListV2"/>
          <xsd:element name="additionalPaymentInformations" type="tns:ctAdditionalPaymentInformations"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="pspNotifyPaymentV2Res">
        <xsd:complexContent>
          <xsd:extension base="common:ctResponse"/>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:element name="pspNotifyPaymentReq" type="tns:pspNotifyPaymentReq"/>
      <xsd:element name="pspNotifyPaymentRes" type="tns:pspNotifyPaymentRes"/>
      <xsd:element name="pspNotifyPaymentV2" type="tns:pspNotifyPaymentV2"/>
      <xsd:element name="pspNotifyPaymentV2Res" type="tns:pspNotifyPaymentV2Res"/>

    </xsd:schema>

    <!-- common xsd -->
    <xsd:schema attributeFormDefault="unqualified"
                targetNamespace="http://pagopa-api.pagopa.gov.it/xsd/common-types/v1.0.0/"
                version="1.0"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns="http://pagopa-api.pagopa.gov.it/xsd/common-types/v1.0.0/">

      <xsd:complexType name="ctRichiestaMarcaDaBollo">
        <xsd:sequence>
          <xsd:element name="hashDocumento" type="stBase64Binary72" />
          <xsd:element name="tipoBollo" type="stTipoBolloDigitale" />
          <xsd:element name="provinciaResidenza" type="stNazioneProvincia" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="stPaymentToken">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1"/>
          <xsd:maxLength value="35"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stBase64Binary72">
        <xsd:restriction base="xsd:base64Binary">
          <xsd:pattern value=".{4,72}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stTipoBolloDigitale">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="01" />
          <xsd:length value="2" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stNazioneProvincia">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[A-Z]{2,2}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stPassword">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="8" />
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stFiscalCodePA">
        <xsd:restriction base="xsd:string">
          <xsd:length value="11" />
          <xsd:pattern value="[0-9]{11}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stNoticeNumber">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{18}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stOutcome">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="OK" />
          <xsd:enumeration value="KO" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stAmount">
        <xsd:restriction base="xsd:decimal">
          <xsd:pattern value="\d+\.\d{2}" />
          <xsd:maxInclusive value="999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stText16">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stText35">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stText70">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stText140">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="140" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="ctMapEntry">
        <xsd:sequence>
          <xsd:element name="key" type="stText140" />
          <xsd:element name="value" type="stText140" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctMetadata">
        <xsd:sequence>
          <xsd:element name="mapEntry" type="ctMapEntry" minOccurs="1" maxOccurs="10"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="stISODate">
        <xsd:restriction base="xsd:date" />
      </xsd:simpleType>

      <xsd:simpleType name="stISODateTime">
        <xsd:restriction base="xsd:dateTime" />
      </xsd:simpleType>

      <xsd:simpleType name="stEMail">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[a-zA-Z0-9_\.\+\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*" />
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stIdentificativoFlusso">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stCodiceAvviso">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{18,18}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stFaultCode">
        <xsd:restriction base="xsd:string"></xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="ctFaultBean">
        <xsd:sequence>
          <xsd:element name="faultCode" type="stFaultCode" />
          <xsd:element name="faultString" type="xsd:string" />
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" minOccurs="0" />
          <xsd:element name="serial" type="xsd:int" minOccurs="0" />
          <xsd:element name="originalFaultCode" type="xsd:string" minOccurs="0" />
          <xsd:element name="originalFaultString" type="xsd:string" minOccurs="0" />
          <xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctResponse">
        <xsd:sequence>
          <xsd:element name="outcome" type="stOutcome" />
          <xsd:element name="fault" type="ctFaultBean" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctRisposta">
        <xsd:sequence>
          <xsd:element name="fault" type="ctFaultBean" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>

  </wsdl:types>
  <wsdl:message name="pspNotifyPaymentReq">
    <wsdl:part element="pfn:pspNotifyPaymentReq" name="requestBody" />
  </wsdl:message>
  <wsdl:message name="pspNotifyPaymentRes">
    <wsdl:part element="pfn:pspNotifyPaymentRes" name="responseBody" />
  </wsdl:message>
  <wsdl:message name="pspNotifyPaymentV2">
    <wsdl:part element="pfn:pspNotifyPaymentV2" name="bodyrequest" />
  </wsdl:message>
  <wsdl:message name="pspNotifyPaymentV2Res">
    <wsdl:part element="pfn:pspNotifyPaymentV2Res" name="bodyresponse" />
  </wsdl:message>
  <wsdl:portType name="pspForNode">
    <wsdl:operation name="pspNotifyPayment">
      <wsdl:input message="tns:pspNotifyPaymentReq" />
      <wsdl:output message="tns:pspNotifyPaymentRes" />
    </wsdl:operation>
    <wsdl:operation name="pspNotifyPaymentV2">
      <wsdl:input message="tns:pspNotifyPaymentV2" />
      <wsdl:output message="tns:pspNotifyPaymentV2Res" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pspForNodeBinding" type="tns:pspForNode">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="pspNotifyPayment">
      <soap:operation soapAction="pspNotifyPayment" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pspNotifyPaymentV2">
      <soap:operation soapAction="pspNotifyPaymentV2" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pspForNodeService">
    <wsdl:port binding="tns:pspForNodeBinding" name="pspForNodePort">
      <soap:address location="http://pagopa-api.pagopa.gov.it/service/psp/pspForNode" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
