src/core/api/nodopagamenti_api/paForNode/v1/paForNode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://pagopa-api.pagopa.gov.it/paForNode"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:pafn="http://pagopa-api.pagopa.gov.it/pa/paForNode.xsd"
  xmlns:common="http://pagopa-api.pagopa.gov.it/xsd/common-types/v1.0.0/"
  targetNamespace="http://pagopa-api.pagopa.gov.it/paForNode">
  <wsdl:types>

    <!-- pa for node xsd -->
    <xsd:schema version="1.0.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pagopa-api.pagopa.gov.it/pa/paForNode.xsd"
                xmlns:tns="http://pagopa-api.pagopa.gov.it/pa/paForNode.xsd" xmlns:common="http://pagopa-api.pagopa.gov.it/xsd/common-types/v1.0.0/">

      <xsd:simpleType name="stText20">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stText210">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="210" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stIdentificativoServizio">
        <xsd:restriction base="xsd:string">
          <xsd:length value="5" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stAmountNotZero">
        <xsd:restriction base="xsd:decimal">
          <xsd:pattern value="\d+\.\d{2}" />
          <xsd:minInclusive value="0.01" /> <!-- force to set value different from 0. -->
          <xsd:maxInclusive value="999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stIBAN">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stIUVBase">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{13}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stIUVCheckDigit">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{2}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stIdTransfer">
        <xsd:restriction base="xsd:int">
          <xsd:enumeration value="1" />
          <xsd:enumeration value="2" />
          <xsd:enumeration value="3" />
          <xsd:enumeration value="4" />
          <xsd:enumeration value="5" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stEntityUniqueIdentifierValue">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="2" />
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stEntityUniqueIdentifierType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="F" /> <!-- Persona Fisica -->
          <xsd:enumeration value="G" /> <!-- Persona Giuridica -->
          <xsd:length value="1" />
        </xsd:restriction>
      </xsd:simpleType>

      <!-- usato dal PSP nell'activate -->
      <xsd:simpleType name="stAmountOption">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="EQ"/> <!-- is equal to -->
          <xsd:enumeration value="LS"/> <!-- is greater than -->
          <xsd:enumeration value="GT"/> <!-- is less than -->
          <xsd:enumeration value="ANY"/> <!-- -->
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stTransferType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="POSTAL"/>
        </xsd:restriction>
      </xsd:simpleType>
      <!--Complex type -->

      <xsd:complexType name="ctEntityUniqueIdentifier">
        <xsd:sequence>
          <xsd:element name="entityUniqueIdentifierType" type="tns:stEntityUniqueIdentifierType" />
          <xsd:element name="entityUniqueIdentifierValue" type="tns:stEntityUniqueIdentifierValue" />
        </xsd:sequence>
      </xsd:complexType>

      <!-- Payment List : verify response -->
      <xsd:complexType name="ctPaymentOptionDescriptionPA">
        <xsd:sequence>
          <xsd:element name="amount" type="common:stAmount" />
          <xsd:element name="options" type="tns:stAmountOption" />
          <xsd:element name="dueDate" type="common:stISODate" minOccurs="0" />
          <xsd:element name="detailDescription" type="common:stText140" minOccurs="0" />
          <xsd:element name="allCCP" type="xsd:boolean" minOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctPaymentOptionsDescriptionListPA">
        <xsd:sequence>
          <xsd:element name="paymentOptionDescription" type="tns:ctPaymentOptionDescriptionPA" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <!-- Transfer List : activate response -->

      <xsd:complexType name="ctTransferPA">
        <xsd:sequence>
          <xsd:element name="idTransfer" type="tns:stIdTransfer" />
          <xsd:element name="transferAmount" type="tns:stAmountNotZero" />
          <xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" />
          <xsd:element name="IBAN" type="tns:stIBAN" />
          <xsd:element name="remittanceInformation" type="common:stText140" />
          <xsd:element name="transferCategory" type="common:stText140" />
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctTransferListPA">
        <xsd:sequence>
          <xsd:element name="transfer" type="tns:ctTransferPA" maxOccurs="5" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctQrCode">
        <xsd:sequence>
          <xsd:element name="fiscalCode" type="common:stFiscalCodePA" />
          <xsd:element name="noticeNumber" type="common:stNoticeNumber" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctSubject">
        <xsd:sequence>
          <xsd:element name="uniqueIdentifier" type="tns:ctEntityUniqueIdentifier" />
          <xsd:element name="fullName" type="common:stText70" />
          <xsd:element name="streetName" type="common:stText70" minOccurs="0" />
          <xsd:element name="civicNumber" type="common:stText16" minOccurs="0" />
          <xsd:element name="postalCode" type="common:stText16" minOccurs="0" />
          <xsd:element name="city" type="common:stText35" minOccurs="0" />
          <xsd:element name="stateProvinceRegion" type="common:stText35" minOccurs="0" />
          <xsd:element name="country" type="common:stNazioneProvincia" minOccurs="0" />
          <xsd:element name="e-mail" type="common:stEMail" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctPaymentPA">
        <xsd:sequence>
          <xsd:element name="creditorReferenceId" type="common:stText35" />
          <xsd:element name="paymentAmount" type="tns:stAmountNotZero" />
          <xsd:element name="dueDate" type="common:stISODate" />
          <xsd:element name="retentionDate" type="xsd:dateTime" minOccurs="0" />
          <xsd:element name="lastPayment" type="xsd:boolean" minOccurs="0" />
          <xsd:element name="description" type="common:stText140" />

          <xsd:element name="companyName" type="common:stText140" minOccurs="0" />
          <xsd:element name="officeName" type="common:stText140" minOccurs="0" />
          <xsd:element name="debtor" type="tns:ctSubject" />
          <xsd:element name="transferList" type="tns:ctTransferListPA" />
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctReceipt">
        <xsd:sequence>
          <!--unique id -->
          <xsd:element name="receiptId" type="xsd:string" />
          <xsd:element name="noticeNumber" type="common:stNoticeNumber" />
          <xsd:element name="fiscalCode" type="common:stFiscalCodePA" />
          <xsd:element name="outcome" type="common:stOutcome" />
          <xsd:element name="creditorReferenceId" type="common:stText35" />
          <xsd:element name="paymentAmount" type="common:stAmount" />
          <xsd:element name="description" type="common:stText140" />

          <xsd:element name="companyName" type="common:stText140" />
          <xsd:element name="officeName" type="common:stText140" minOccurs="0" />

          <xsd:element name="debtor" type="tns:ctSubject" />
          <xsd:element name="transferList" type="tns:ctTransferListPA" />
          <xsd:element name="idPSP" type="common:stText35" />
          <xsd:element name="pspFiscalCode" type="common:stText70" minOccurs="0" />
          <xsd:element name="pspPartitaIVA" type="tns:stText20" minOccurs="0" />
          <xsd:element name="PSPCompanyName" type="common:stText70" />
          <xsd:element name="idChannel" type="common:stText35" />
          <xsd:element name="channelDescription" type="common:stText35" />

          <xsd:element name="payer" type="tns:ctSubject" minOccurs="0" />
          <xsd:element name="paymentMethod" type="common:stText35" minOccurs="0" />

          <xsd:element name="fee" type="common:stAmount" minOccurs="0" />
          <xsd:element name="paymentDateTime" type="common:stISODateTime" minOccurs="0" />
          <xsd:element name="applicationDate" type="common:stISODate" minOccurs="0" />
          <xsd:element name="transferDate" type="common:stISODate" minOccurs="0" />
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctReceiptV2">
        <xsd:sequence>
          <!--unique id -->
          <xsd:element name="receiptId" type="xsd:string" />
          <xsd:element name="noticeNumber" type="common:stNoticeNumber" />
          <xsd:element name="fiscalCode" type="common:stFiscalCodePA" />
          <xsd:element name="outcome" type="common:stOutcome" />
          <xsd:element name="creditorReferenceId" type="common:stText35" />
          <xsd:element name="paymentAmount" type="common:stAmount" />
          <xsd:element name="description" type="common:stText140" />

          <xsd:element name="companyName" type="common:stText140" />
          <xsd:element name="officeName" type="common:stText140" minOccurs="0" />

          <xsd:element name="debtor" type="tns:ctSubject" />
          <xsd:element name="transferList" type="tns:ctTransferListPAReceiptV2" />
          <xsd:element name="idPSP" type="common:stText35" />
          <xsd:element name="pspFiscalCode" type="common:stText70" minOccurs="0" />
          <xsd:element name="pspPartitaIVA" type="tns:stText20" minOccurs="0" />
          <xsd:element name="PSPCompanyName" type="common:stText70" />
          <xsd:element name="idChannel" type="common:stText35" />
          <xsd:element name="channelDescription" type="common:stText35" />

          <xsd:element name="payer" type="tns:ctSubject" minOccurs="0" />
          <xsd:element name="paymentMethod" type="common:stText35" minOccurs="0" />

          <xsd:element name="fee" type="common:stAmount" minOccurs="0" />
          <xsd:element name="primaryCiIncurredFee" type="common:stAmount" minOccurs="0" />
          <xsd:element name="idBundle" type="common:stText70" minOccurs="0" />
          <xsd:element name="idCiBundle" type="common:stText70" minOccurs="0" />
          <xsd:element name="paymentDateTime" type="common:stISODateTime" minOccurs="0" />
          <xsd:element name="applicationDate" type="common:stISODate" minOccurs="0" />
          <xsd:element name="transferDate" type="common:stISODate" minOccurs="0" />
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <!--Element req/res -->
      <xsd:complexType name="paVerifyPaymentNoticeReq">
        <xsd:sequence>
          <xsd:element name="idPA" type="common:stText35" />
          <xsd:element name="idBrokerPA" type="common:stText35" />
          <xsd:element name="idStation" type="common:stText35" />
          <xsd:element name="qrCode" type="tns:ctQrCode" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="paVerifyPaymentNoticeRes">
        <xsd:complexContent>
          <xsd:extension base="common:ctResponse">
            <xsd:sequence>
              <xsd:element name="paymentList" type="tns:ctPaymentOptionsDescriptionListPA" minOccurs="0" />
              <xsd:element name="paymentDescription" type="common:stText140" minOccurs="0" />
              <xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" minOccurs="0" />
              <xsd:element name="companyName" type="common:stText140" minOccurs="0" />
              <xsd:element name="officeName" type="common:stText140" minOccurs="0" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="paGetPaymentReq">
        <xsd:sequence>
          <xsd:element name="idPA" type="common:stText35" />
          <xsd:element name="idBrokerPA" type="common:stText35" />
          <xsd:element name="idStation" type="common:stText35" />
          <xsd:element name="qrCode" type="tns:ctQrCode" />
          <xsd:element name="amount" type="common:stAmount" minOccurs="0" />
          <xsd:element name="paymentNote" type="tns:stText210" minOccurs="0" />
          <xsd:element name="transferType" type="tns:stTransferType" minOccurs="0" />
          <xsd:element name="dueDate" type="common:stISODate" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="paGetPaymentRes">
        <xsd:complexContent>
          <xsd:extension base="common:ctResponse">
            <xsd:sequence>
              <xsd:element name="data" type="tns:ctPaymentPA" minOccurs="0"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="paSendRTReq">
        <xsd:sequence>
          <xsd:element name="idPA" type="common:stText35" />
          <xsd:element name="idBrokerPA" type="common:stText35" />
          <xsd:element name="idStation" type="common:stText35" />
          <xsd:element name="receipt" type="tns:ctReceipt" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="paSendRTRes">
        <xsd:complexContent>
          <xsd:extension base="common:ctResponse"/>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="paDemandPaymentNoticeRequest">
        <xsd:sequence>
          <xsd:element name="idPA" type="common:stText35" />
          <xsd:element name="idBrokerPA" type="common:stText35" />
          <xsd:element name="idStation" type="common:stText35" />
          <xsd:element name="idServizio" type="tns:stIdentificativoServizio" maxOccurs="1" />
          <xsd:element name="datiSpecificiServizioRequest" type="xsd:base64Binary" maxOccurs="1" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="paDemandPaymentNoticeResponse">
        <xsd:complexContent>
          <xsd:extension base="common:ctResponse">
            <xsd:sequence>
              <xsd:element name="qrCode" type="tns:ctQrCode" minOccurs="0"/>
              <xsd:element name="paymentList" type="tns:ctPaymentOptionsDescriptionListPA" minOccurs="0" maxOccurs="1" />
              <xsd:element name="paymentDescription" type="common:stText140" minOccurs="0" />
              <xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" minOccurs="0" />
              <xsd:element name="companyName" type="common:stText140" minOccurs="0" />
              <xsd:element name="officeName" type="common:stText140" minOccurs="0" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="ctTransferPAV2">
        <xsd:sequence>
          <xsd:element name="idTransfer" type="tns:stIdTransfer" />
          <xsd:element name="transferAmount" type="tns:stAmountNotZero" />
          <xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" />
          <xsd:choice>
            <xsd:element name="IBAN" type="tns:stIBAN" />
            <xsd:element name="richiestaMarcaDaBollo" type="common:ctRichiestaMarcaDaBollo" />
          </xsd:choice>
          <xsd:element name="remittanceInformation" type="common:stText140" />
          <xsd:element name="transferCategory" type="common:stText140" />
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctTransferPAReceiptV2">
        <xsd:sequence>
          <xsd:element name="idTransfer" type="tns:stIdTransfer" />
          <xsd:element name="transferAmount" type="tns:stAmountNotZero" />
          <xsd:element name="fiscalCodePA" type="common:stFiscalCodePA" />
          <xsd:choice>
            <xsd:element name="IBAN" type="tns:stIBAN" />
            <xsd:element name="MBDAttachment" type="xsd:base64Binary" />
          </xsd:choice>
          <xsd:element name="remittanceInformation" type="common:stText140" />
          <xsd:element name="transferCategory" type="common:stText140" />
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctTransferListPAReceiptV2">
        <xsd:sequence>
          <xsd:element name="transfer" type="tns:ctTransferPAReceiptV2" maxOccurs="5" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctTransferListPAV2">
        <xsd:sequence>
          <xsd:element name="transfer" type="tns:ctTransferPAV2" maxOccurs="5" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctPaymentPAV2">
        <xsd:sequence>
          <xsd:element name="creditorReferenceId" type="common:stText35" />
          <xsd:element name="paymentAmount" type="tns:stAmountNotZero" />
          <xsd:element name="dueDate" type="common:stISODate" />
          <xsd:element name="retentionDate" type="xsd:dateTime" minOccurs="0" />
          <xsd:element name="lastPayment" type="xsd:boolean" minOccurs="0" />
          <xsd:element name="description" type="common:stText140" />
          <xsd:element name="companyName" type="common:stText140" minOccurs="0" />
          <xsd:element name="officeName" type="common:stText140" minOccurs="0" />
          <xsd:element name="debtor" type="tns:ctSubject" />
          <xsd:element name="transferList" type="tns:ctTransferListPAV2" />
          <xsd:element name="metadata" type="common:ctMetadata" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="paGetPaymentV2Request">
        <xsd:sequence>
          <xsd:element name="idPA" type="common:stText35" />
          <xsd:element name="idBrokerPA" type="common:stText35" />
          <xsd:element name="idStation" type="common:stText35" />
          <xsd:element name="qrCode" type="tns:ctQrCode" />
          <xsd:element name="amount" type="common:stAmount" minOccurs="0" />
          <xsd:element name="paymentNote" type="tns:stText210" minOccurs="0" />
          <xsd:element name="transferType" type="tns:stTransferType" minOccurs="0" />
          <xsd:element name="dueDate" type="common:stISODate" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="paGetPaymentV2Response">
        <xsd:complexContent>
          <xsd:extension base="common:ctResponse">
            <xsd:sequence>
              <xsd:element name="data" type="tns:ctPaymentPAV2" minOccurs="0"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="paSendRTV2Request">
        <xsd:sequence>
          <xsd:element name="idPA" type="common:stText35" />
          <xsd:element name="idBrokerPA" type="common:stText35" />
          <xsd:element name="idStation" type="common:stText35" />
          <xsd:element name="receipt" type="tns:ctReceiptV2" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="paSendRTV2Response">
        <xsd:complexContent>
          <xsd:extension base="common:ctResponse"/>
        </xsd:complexContent>
      </xsd:complexType>

      <!-- Wrapper Elements -->
      <xsd:element name="paVerifyPaymentNoticeReq" type="tns:paVerifyPaymentNoticeReq" />
      <xsd:element name="paVerifyPaymentNoticeRes" type="tns:paVerifyPaymentNoticeRes" />

      <xsd:element name="paGetPaymentReq" type="tns:paGetPaymentReq" />
      <xsd:element name="paGetPaymentRes" type="tns:paGetPaymentRes" />

      <xsd:element name="paSendRTReq" type="tns:paSendRTReq" />
      <xsd:element name="paSendRTRes" type="tns:paSendRTRes" />

      <xsd:element name="paDemandPaymentNoticeRequest" type="tns:paDemandPaymentNoticeRequest" />
      <xsd:element name="paDemandPaymentNoticeResponse" type="tns:paDemandPaymentNoticeResponse" />

      <xsd:element name="paGetPaymentV2Request" type="tns:paGetPaymentV2Request" />
      <xsd:element name="paGetPaymentV2Response" type="tns:paGetPaymentV2Response" />

      <xsd:element name="paSendRTV2Request" type="tns:paSendRTV2Request" />
      <xsd:element name="paSendRTV2Response" type="tns:paSendRTV2Response" />

    </xsd:schema>

    <!-- common xsd -->
    <xsd:schema attributeFormDefault="unqualified"
                targetNamespace="http://pagopa-api.pagopa.gov.it/xsd/common-types/v1.0.0/"
                version="1.0"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns="http://pagopa-api.pagopa.gov.it/xsd/common-types/v1.0.0/">

      <xsd:complexType name="ctRichiestaMarcaDaBollo">
        <xsd:sequence>
          <xsd:element name="hashDocumento" type="stBase64Binary72" />
          <xsd:element name="tipoBollo" type="stTipoBolloDigitale" />
          <xsd:element name="provinciaResidenza" type="stNazioneProvincia" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="stPaymentToken">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1"/>
          <xsd:maxLength value="35"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stBase64Binary72">
        <xsd:restriction base="xsd:base64Binary">
          <xsd:pattern value=".{4,72}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stTipoBolloDigitale">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="01" />
          <xsd:length value="2" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stNazioneProvincia">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[A-Z]{2,2}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stPassword">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="8" />
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stFiscalCodePA">
        <xsd:restriction base="xsd:string">
          <xsd:length value="11" />
          <xsd:pattern value="[0-9]{11}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stNoticeNumber">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{18}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stOutcome">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="OK" />
          <xsd:enumeration value="KO" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stAmount">
        <xsd:restriction base="xsd:decimal">
          <xsd:pattern value="\d+\.\d{2}" />
          <xsd:maxInclusive value="999999999.99" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stText16">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stText35">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stText70">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stText140">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="140" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="ctMapEntry">
        <xsd:sequence>
          <xsd:element name="key" type="stText140" />
          <xsd:element name="value" type="stText140" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctMetadata">
        <xsd:sequence>
          <xsd:element name="mapEntry" type="ctMapEntry" minOccurs="1" maxOccurs="10"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:simpleType name="stISODate">
        <xsd:restriction base="xsd:date" />
      </xsd:simpleType>

      <xsd:simpleType name="stISODateTime">
        <xsd:restriction base="xsd:dateTime" />
      </xsd:simpleType>

      <xsd:simpleType name="stEMail">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[a-zA-Z0-9_\.\+\-]+@[a-zA-Z0-9\-]+(\.[a-zA-Z0-9\-]+)*" />
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stIdentificativoFlusso">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="70" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stCodiceAvviso">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{18,18}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="stFaultCode">
        <xsd:restriction base="xsd:string"></xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="ctFaultBean">
        <xsd:sequence>
          <xsd:element name="faultCode" type="stFaultCode" />
          <xsd:element name="faultString" type="xsd:string" />
          <xsd:element name="id" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" minOccurs="0" />
          <xsd:element name="serial" type="xsd:int" minOccurs="0" />
          <xsd:element name="originalFaultCode" type="xsd:string" minOccurs="0" />
          <xsd:element name="originalFaultString" type="xsd:string" minOccurs="0" />
          <xsd:element name="originalDescription" type="xsd:string" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctResponse">
        <xsd:sequence>
          <xsd:element name="outcome" type="stOutcome" />
          <xsd:element name="fault" type="ctFaultBean" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ctRisposta">
        <xsd:sequence>
          <xsd:element name="fault" type="ctFaultBean" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="paDemandPaymentNotice">
    <wsdl:part name="bodyrequest"
               element="pafn:paDemandPaymentNoticeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="paDemandPaymentNoticeResponse">
    <wsdl:part name="bodyresponse"
               element="pafn:paDemandPaymentNoticeResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paVerifyPaymentNoticeReq">
    <wsdl:part name="bodyrequest"
               element="pafn:paVerifyPaymentNoticeReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paVerifyPaymentNoticeRes">
    <wsdl:part name="bodyresponse" element="pafn:paVerifyPaymentNoticeRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paGetPaymentReq">
    <wsdl:part name="bodyrequest" element="pafn:paGetPaymentReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paGetPaymentRes">
    <wsdl:part name="bodyresponse" element="pafn:paGetPaymentRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paGetPaymentV2">
    <wsdl:part name="bodyrequest" element="pafn:paGetPaymentV2Request"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paGetPaymentV2Response">
    <wsdl:part name="bodyresponse" element="pafn:paGetPaymentV2Response"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paSendRTReq">
    <wsdl:part name="bodyrequest" element="pafn:paSendRTReq"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paSendRTRes">
    <wsdl:part name="bodyresponse" element="pafn:paSendRTRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paSendRTV2">
    <wsdl:part name="bodyrequest" element="pafn:paSendRTV2Request"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="paSendRTV2Response">
    <wsdl:part name="bodyresponse" element="pafn:paSendRTV2Response"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="paForNode">
    <wsdl:operation name="paDemandPaymentNotice">
      <wsdl:input message="tns:paDemandPaymentNotice"></wsdl:input>
      <wsdl:output message="tns:paDemandPaymentNoticeResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paVerifyPaymentNotice">
      <wsdl:input message="tns:paVerifyPaymentNoticeReq"></wsdl:input>
      <wsdl:output message="tns:paVerifyPaymentNoticeRes"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paGetPayment">
      <wsdl:input message="tns:paGetPaymentReq"></wsdl:input>
      <wsdl:output message="tns:paGetPaymentRes"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paGetPaymentV2">
      <wsdl:input message="tns:paGetPaymentV2"></wsdl:input>
      <wsdl:output message="tns:paGetPaymentV2Response"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paSendRT">
      <wsdl:input message="tns:paSendRTReq"></wsdl:input>
      <wsdl:output message="tns:paSendRTRes"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paSendRTV2">
      <wsdl:input message="tns:paSendRTV2"></wsdl:input>
      <wsdl:output message="tns:paSendRTV2Response"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="paForNodeBinding" type="tns:paForNode">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="paDemandPaymentNotice">
      <soap:operation
        soapAction="paDemandPaymentNotice" />
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paVerifyPaymentNotice">
      <soap:operation
        soapAction="paVerifyPaymentNotice" />
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paGetPayment">
      <soap:operation
        soapAction="paGetPayment" />
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paGetPaymentV2">
      <soap:operation
        soapAction="paGetPaymentV2" />
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paSendRT">
      <soap:operation
        soapAction="paSendRT" />
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paSendRTV2">
      <soap:operation
        soapAction="paSendRTV2" />
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="paForNodeService">
    <wsdl:port name="paForNodePort"
               binding="tns:paForNodeBinding">
      <soap:address location="http://pagopa-api.pagopa.gov.it/service/pa/paForNode" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
